.item {
  border: 1px;
  padding: 10px;
  background-color: #eee;
  width: 380px;
  height: 450px;
}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  margin-top: 20px;
}

.item-image {
  height: 200px;
  width: 100px;
  margin-top: 40px;
  align-items: center;
}

.item-details {
  text-align: center;
  margin: 10px;  
  bottom: 0px;
  top: 0px;
}

.item-details{
  margin: 0;
}

.item-price{
  align-items: center;
  color: #eee;
}

.item-inStock{
  text-align: end;
}

.item-button{
  margin-left: 30%;
  position: 50%;
  font-size: 30px;
  font-weight: 600;
  padding: 25px;
  margin-top: 20px;
  padding-top: 0px;
  padding-bottom: 0;
  background-color: #534080;
  border-radius: 10px;
  border: #534080;
}

.carousel-control-next, .carousel-control-prev{
  border: none;  
  opacity: .0;
  width: 20%;
  height: 20%;
}

.carousel-control-prev{
  left: 0px;
}


.item-button p{
  font-size: small;
  padding: 0;
  margin: 0;
  font-weight: 800;
  padding-top: 0;
  padding-bottom: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-price p{
  color: #534080;
}

.shopping-cart-total {
  min-height: 96px;
}

h4{
  color: white;
}

/* galeria */

html {
  color: #eb92fb; 
  background-color: #534080; 
  }
  #muestra {
  position: relative; 
  margin: 1rem auto; 
  width: 585px; height: 375px; 
  border: solid 5px #534080; 
  background-color: #eb92fb; 
  overflow: hidden; 
  box-shadow: 0 0 0 10px #534080, 10px 10px 20px 8px rgba(0,0,0,.2); 
  }
  #selectores {
  position: absolute; 
  left: 0; top: 0; 
  width: 100px; height: 440px; 
  padding: 2px; 
  font-size: 0; 
  overflow: hidden; 
  background-color: #534080; 
  }
  #selectores img{
  margin: none; 
  border: solid 3px transparent; 
  cursor: pointer; 
  }
  #visor {
  position: absolute; 
  font-size: 0; 
  left: 100px; top: 0; 
  width: 590px; height: 430px; 
  }
  #visor:before {
  content: 'Pincha las miniaturas. Gracias.';
  position: absolute;
  left: 0; right: 0; top: 48%;
  font-size: 1.7rem;
  color: #a03271;
  text-align: center;
  }
  #visor img {
  position: absolute; 
  top: 0; left: 0; 
  }
  p {
  font-weight: bold; 
  }
  